{% extends 'todolist/main.html' %}
{% block content %}
<form action="{% url 'add' %}" method="post">
  <label for="title">Item</label><br />
  <input type="text" name="title" id="title"><br />
  <label for="priority">Priority</label><br />
  <ul>
    <input type="radio" name="priority" value="1"> 1
    <input type="radio" name="priority" value="2"> 2
    <input type="radio" name="priority" value="3"> 3
  </ul>
  <label for="todo_list">
    {% for lists in object_list %}
      <option value="{{lists.title}}">{{lists.title}}</option>
    {% endfor %}
  <input type="submit" value="Submit">
</form>
{% endblock %}
