{% extends 'todolist/main.html' %}
{% block content %}
<h1>{{items.0.todo_list}}</h1>
<ul>
{% for items in object_list %}
{% if items.priority == 1 %}
  <li><input type="checkbox"><span style="color:blue;">{{items.title}}</span></li>
{% endif %}
{% if items.priority == 2 %}
  <li><input type="checkbox"><span style="color:purple;">{{items.title}}</span></li>
{% endif %}
{% if items.priority == 3 %}
  <li><input type="checkbox"><span style="color:red">{{items.title}}</span></li>
{% endif %}
{% endfor %}
<form action="{% url 'add' %}" method="post">
  {% csrf_token %}
  <label for="title">Item</label><br />
  <input type="text" name="title" id="title"><br />
  <label for="priority">Priority</label><br />
  <ul>
    <input type="radio" name="priority" value="1"> 1
    <input type="radio" name="priority" value="2"> 2
    <input type="radio" name="priority" value="3"> 3
  </ul>
  <label for="todo_list">
      <option value="{{List.title}}"></option>
  <input type="submit" value="Submit">
</form>
{% endblock %}
